.about {
  font-size: 35px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;

  &__title {
    background-color: #c5aeab;
  }
  &__lists li {
    list-style: none;
    font-size: 35px;
    color: #000000;
    padding: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    height: 89vh;
    font-size: 18px;
    margin: 10px;
  }
}
