.cards {
  &__title {
    padding: 10px;
  }
  &__container {
    min-height: 100vh;
    text-align: center;
    margin: auto;
    color: black;
  }

  &__all-images {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image-element {
    width: 408px;
    height: 308px;
    box-shadow: 1px 1px 1px 1px #747069;
  }
}
