.cards {
  &__container {
    min-height: 100vh;
    margin-top: 100px;
    margin: 40px;
    font-size: 35px;
    background-color: white;
    border: 1px solid black;
  }

  &__all-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image-element {
    width: 408px;
    height: 308px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #747069;
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    &__container {
      height: 80vh;
      font-size: 18px;
      // margin-bottom: 20px;
    }
  }
}
