.contact {
  &__container {
    min-height: 100vh;
    padding-top: 10px;
    font-size: 35px;
  }

  img {
    box-shadow: 5px 8px 8px 9px white;
    object-fit: cover;
    width: 50%;
  }

  &__lists {
    display: flex;
    flex-direction: row;
    background-color: #c5aeab;
    box-shadow: 8px 3px 3px 0px #e9cfcc;
  }

  &__lists ul li {
    list-style: none;
    padding-top: 80px;
    text-align: center;
  }
}

@media (max-width: 768px) {
}
