$bg-color: #c5aeab;

.contact {
  &__container {
    min-height: 100vh;
    padding-top: 10px;
    font-size: 35px;
  }

  // img {
  //  object-fit: cover;
  //   width: 50%;
  // }

  &__lists {
    display: flex;
    flex-direction: row;
    background-color: $bg-color;
  }

  &__lists ul li {
    list-style: none;
    font-size: 40px;
    padding-top: 80px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    &__lists {
      display: flex;
      flex-direction: column;
      ul {
        li {
          flex-direction: row;
          font-size: 35px;
        }
      }
    }
    img {
      width: 50%;
      height: 50%;
    }
  }
}
