.cards {
  height: 100vh;
  &__images {
    width: 308px;
    height: 308px;
    padding: 10px;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    height: 50vh;
    font-size: 18px;

    &__button {
      width: 115px;
      height: 40px;
      font-size: 15px;
    }
  }
}
