.cards {
  &__image-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  &__images {
    width: 408px;
    height: 408px;
    padding: 10px;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    height: 50vh;
    font-size: 18px;

    &__button {
      width: 115px;
      height: 40px;
      font-size: 15px;
    }
  }
}
