.landing-page {
  &__container {
    min-height: 100vh;
    font-size: 50px;
    width: 100%;
    width: 100%;
    background: url("/bg-dog.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  &__div {
    float: right;
    border-radius: 5px 60px 0px 60px;
    margin-right: 300px;
    margin-top: 150px;
    padding: 20px;
    padding-bottom: 20px;
  }

  strong {
    font-family: "Amatic SC", cursive;
  }

  &__button {
    background-color: #c5aeab;
    font-family: "Amatic SC", cursive;
    border-radius: 10px;
    border: white;
    color: white;
    width: 180px;
    height: 50px;
    font-size: 35px;
  }

  &__button:hover {
    background-color: blanchedalmond;
    color: #eb6649;
    cursor: pointer;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .landing-page {
    height: 50vh;
    font-size: 35px;

    &__div {
      text-align: center;
    }

    &__button {
      width: 115px;
      height: 60px;
      font-size: 25px;
      border: white;
    }
  }
}
