.about {
  font-size: 30px;
  &__lists {
    font-size: 25px;
    padding: 5px;
    list-style: none;
  }

  &__button {
    font-family: "Oxygen", sans-serif;
    background-color: #eb6649;
    border-radius: 10px;
    box-shadow: 10px #ffffff;
    color: white;
    width: 150px;
    height: 40px;
  }

  &__button:hover {
    background-color: #f4efe5;
    color: #eb6649;
    cursor: pointer;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    height: 50vh;
    font-size: 18px;
    &__lists {
      font-size: 15px;
    }
  }
}
