.about {
  font-size: 30px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__lists {
    font-size: 25px;
    list-style: none;
  }
}

.about li {
  margin: 2rem 0;
}

@media only screen and (max-width: 600px) {
  .about {
    height: 50vh;
    font-size: 18px;
    &__lists {
      font-size: 15px;
    }
  }
}
