.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  height: 56px;

  &__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
  }

  &__navigation-items a {
    text-decoration: none;
    color: black;
  }

  &__navigation-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__navigation-items li {
    padding: 0 0.5rem;
  }

  &__spacer {
    flex: 1;
  }

  &__logo {
    margin-left: 1rem;
  }

  &__logo a {
    color: black;
    text-decoration: none;
    font-size: 3rem;
  }

  &__navigation-items a:hover,
  &__navigation-items a:active {
    color: #eb6649;
  }
}

@media (max-width: 768px) {
  .navbar {
    &__navigation-items {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  .navbar {
    &__toggle-hamburger {
      display: none;
    }
    &__logo {
      margin-left: 0;
    }
  }
}
