.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  height: 78px;
  box-shadow: 3px 3px 12px 9px #eb6649;

  &__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
  }

  &__navigation-items a {
    font-size: 32px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
  }

  &__navigation-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__navigation-items li {
    padding: 0 0.5rem;
  }

  &__spacer {
    flex: 1;
  }

  &__logo {
    margin-left: 1rem;
  }

  &__logo-image {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 1px 1px 1px 1px #747069;
  }

  &__navigation-items a:hover,
  &__navigation-items a:focus {
    font-weight: bold;
    color: #eb6649;
  }
}

@media (max-width: 768px) {
  .navbar {
    &__navigation-items {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  .navbar {
    &__toggle-hamburger {
      display: none;
    }
    &__logo {
      margin-left: 0;
    }
  }
}
